h1{
    color: aqua;
    text-align: center;
    border: 3px solid black;
    margin-bottom: 5%;
}

.screen{
    border: 1px solid black;
    align-self: center;
}

#txtscreen{
    width: 250px;
    height: 32px;
}

.calculator-making{
    display: flex;
    flex-direction: column;
}

.calc-btns{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.calc-body
{
    align-self: center;
}

.btn   
{
    width: 40px;
    height: 40px;
}

.firstrow{
    padding-top: 2%;
    padding: 5px;
}
.secondrow{
    padding: 5px;
}
.thirdrow{
    padding: 5px;
}

.clrBtn{
    background-color: rgb(20, 255, 3);
    flex-grow: 4;
}
.ACbtn{
    background-color: rgb(255, 0, 0);
    flex-grow: 6;
}


.clrBtnAcBtn{
    display: flex;
    justify-content: center;
    
}